body{
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color: blue;
  font-family: sans-serif;
  font-style: italic;
  font-size: 7rem;

}
h3{
  font-size: 2rem;
}
.container{
  bottom: 3rem;
  position: relative;
  height: 15rem;
  width: 40rem;
}
.player-1{
  position: absolute;
  top: 1rem;
  left: 4rem;
}
.player-2{
  position: absolute;
  top: 1rem;
  right: 4rem;
}
img{
  position: absolute;
  height: 7rem;
  width: 7rem;
  left: .3rem;

}
button{
  margin-top: 3rem;
  height: 3rem;
  width: 10rem;
}
